body {
    background-image: url(/gallery/gallery.jpeg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    height: 100vh;
    background-repeat: repeat-y;
    margin: 0%;
    padding: 0%;
}

.form{
    width: 300px;
    padding: 0 0;
    margin: 0
}

.enter{
    position: relative;
    z-index: 1;
    background: rgb(49, 47, 47);
    color: #fff;
    max-width: 360px;
    margin: 0% auto 100px;
    padding: 70px 30px;
    text-align: center;
    position: relative;
    transform: translate(-50% -50%);
    top: 50%;
}

.form input{
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.ghana{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
h4{
    margin: 0%;
    padding: 0 0 20px;
    text-align: center;
    font-size: 18px;
}
.form input[type="text"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.form input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #ffc107;
    color: #fff;
    font-size: 15px;
    border-radius: 20px;
}
.form input[type="submit"]:hover{
    cursor: pointer;
    background: #f70323;
    color: #000;
}


